body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  /* padding-top: 30px; */
}

.tagline-firstline {
  font-size: 70px;
  color: #e6e6e6;
  padding-top: 100px;
  padding-left: 40px;
}
.tagline-secondline {
  font-size: 70px;
  color: #e6e6e6;
  padding-left: 200px;
}

.footer {
  padding-left: 20px;
  padding-top: 10px;
  text-align: left;
  font-size: 12px;
}

.about-img {
  max-height: 400px;
  max-width: 500px;
}

.team-div {
  padding-left: 20px;
}

.team-img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
}

.dashboard-div {
  margin-top: 20px;
  padding-left: 20px;
}

.med-button:hover {
color: blue;
}
.sidebar {
  height: 500px;
}

.dashboard-menu {
  margin-left: -40px;
  width: 100%;
}
